{% extends 'main.html' %}
{% block title %}Task Manager{% endblock %}


{% block body %}

<script>

// Get the modal
var modal = document.getElementsByClassName('modal');

// Get the button that opens the modal
var btn = document.getElementsByClassName("myBtn");


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close");

// When the user clicks the button, open the modal
btn[0].onclick = function() {
    modal[0].style.display = "block";
}

btn[1].onclick = function() {
    modal[1].style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span[0].onclick = function() {
    modal[0].style.display = "none";
}

span[1].onclick = function() {
    modal[1].style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal[0]) {
         modal[0].style.display = "none";
     }
    if (event.target == modal[1]) {
         modal[1].style.display = "none";
     }
}
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

      {% if user.is_authenticated %}
          <div class="my-3 p-3  rounded box-shadow" style="background-color:#F0F0F0;">
              <h5 class="border-bottom border-gray pb-2 mb-0">Wanna create a new task?</h5>
               <form method="post">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Add task</button>
              </form>
          </div>

          <div class="my-3 p-3 bg-white rounded box-shadow">
            <h5 class=" border-gray pb-2 mb-0">Recent tasks</h5>
              {% if time_exceeded_tasks or safe_tasks or to_do_now_tasks or done_tasks %}
              {% if time_exceeded_tasks %}
                <hr>
                  <h6 class=" border-gray pb-2 mb-0">Time exceeded:</h6>
                      {% for time_exceeded_task in time_exceeded_tasks %}
                            <div class="alert alert-danger" role="alert">
                                <div class="row">
                                    <div class="col-10">
                                      <p class="media-body pb-3 mb-0 small lh-125  border-gray">
                                        <strong class="d-block text-gray-dark">Deadline: {{ time_exceeded_task.deadline }} | Added/Edited: {{ time_exceeded_task.date_added }}</strong>
                                              {{ time_exceeded_task.body }}
                                      </p>
                                    </div>
                                    <div class="col-2" style="text-align:right">
                                        <a href="{% url 'complete_task' time_exceeded_task.pk %}" title="done"><i class="fas fa-check-circle fa-2x" style="color:green"></i></a>
                                        <a href="{% url 'edit_task' time_exceeded_task.pk %}" title="edit"><i class="fas fa-pencil-alt fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                      {% endfor %}
                  {% endif %}

                  {% if to_do_now_tasks %}
                      <hr>
                      <h6 class=" border-gray pb-2 mb-0">Urgent:</h6>
                      {% for to_do_now_task in to_do_now_tasks %}
                            <div class="alert alert-warning" role="alert">
                                <div class="row">
                                    <div class="col-10">
                                      <p class="media-body pb-3 mb-0 small lh-125 border-gray">
                                        <strong class="d-block text-gray-dark">Deadline: {{ to_do_now_task.deadline }} | Added/Edited: {{ to_do_now_task.date_added }}</strong>
                                              {{ to_do_now_task.body }}
                                      </p>
                                    </div>
                                    <div class="col-2" style="text-align:right">
                                        <a href="{% url 'complete_task' to_do_now_task.pk %}" title="done"><i class="fas fa-check-circle fa-2x" style="color:green"></i></a>
                                        <a href="{% url 'edit_task' to_do_now_task.pk %}" title="edit"><i class="fas fa-pencil-alt fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                      {% endfor %}
                  {% endif %}

              {% if safe_tasks %}
                <hr>
                  <h6 class=" border-gray pb-2 mb-0">Safe:</h6>
                      {% for safe_task in safe_tasks %}
                            <div class="alert alert-primary" role="alert">
                                <div class="row">
                                    <div class="col-10">
                                      <p class="media-body pb-3 mb-0 small lh-125 border-gray">
                                        <strong class="d-block text-gray-dark">Deadline: {{ safe_task.deadline }} | Added/Edited: {{ safe_task.date_added }}</strong>
                                              {{ safe_task.body }}
                                      </p>
                                    </div>
                                    <div class="col-2" style="text-align:right">
                                        <a href="{% url 'complete_task' safe_task.pk %}" title="done"><i class="fas fa-check-circle fa-2x" style="color:green"></i></a>
                                        <a href="{% url 'edit_task' safe_task.pk %}" title="edit"><i class="fas fa-pencil-alt fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                      {% endfor %}
              {% endif %}

              {% if done_tasks %}
                  <hr>
                  <h6 class=" border-gray pb-2 mb-0">Finished:</h6>
                      {% for done_task in done_tasks %}
                            <div class="alert alert-secondary" role="alert">
                                <div class="row">
                                    <div class="col-10">
                                      <p class="media-body pb-3 mb-0 small lh-125 border-gray">
                                        <strong class="d-block text-gray-dark">Deadline: {{ done_task.deadline }} | Completed: {{ done_task.date_added }}</strong>
                                              {{ done_task.body }}
                                      </p>
                                    </div>
                                    <div class="col-2" style="text-align:right">
                                        <a href="{% url 'complete_task' done_task.pk %}" title="restore"><i class="fas fa-arrow-circle-left fa-2x" style="color:#FF9933"></i></a>

                                        <!-- Button trigger modal -->
                                        <a href="" type="button" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-trash-alt fa-2x" style="color:#DB4035"></i></a>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Remove?</h5>
                                              </div>
                                              <div class="modal-body" style="text-align:left;">
                                                Do You really want to remove this task?
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  <a href="{% url 'remove_task' done_task.pk %}" title="delete"><button type="button" class="btn btn-danger">Remove</button></a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <!-- Button trigger modal -->

                                    </div>
                                </div>
                            </div>
                      {% endfor %}
              {% endif %}

              {% else %}
                <h6>You have no tasks yet, add one above...</h6>
              {% endif %}

          </div>
      </br></br></br>

      {% else %}
      <div class="b-example-divider"></div>

      <div class=" text-secondary px-4 py-5 text-center" style="background-color: rgba(0,0,0,0.5)">
        <div class="py-5">
          <h1 class="display-5 fw-bold text-white">Manage Your tasks</h1>
          <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4 text-white">Simply describe Your daily duties. Manage Your time and have all things to do in one place. Wanna check? Login or create a free account...</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'login' %}"><button type="button" class="btn btn-warning btn-lg">Login</button></a> &nbsp
                <a href="{% url 'register' %}"><button type="button" class="btn btn-outline-light btn-lg px-4">Register</button></a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}




{% endblock %}